.aboutus-main {
    width: 100%;
    background-color: var(--color-one);
    scroll-margin-top: 100px;
}

.aboutus-submain {
    max-width: 1200px;
    margin: 0 auto;
}

.aboutus-header {
    text-align: center;
    font-weight: 500;
    color: var(--color-four);
    margin: 0 auto;
    line-height: 1.8em;
}

.headline {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--color-three);
    text-align: center;
}

.subheadline {
    font-size: 1.25rem;
    line-height: 1.5em;
    color: var(--color-four);
    text-align: center;
    margin-bottom: 2em;
}

.title-separator {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 2em;
}

.separator {
    margin: 0 20px;
    border-bottom: 1px solid var(--color-two);
}

.about-titles {
    border-radius: 10px;
    padding: 0.5em 2em;
    background-color: var(--color-two);
    color: var(--color-one);
    font-weight: 500;
}

.about-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6em;
    color: var(--color-three);
    padding-bottom: 4em;
}

@media (max-width: 768px) {
    .about-text {
        margin: 0 20px;
    }
}