.main-cardset {
    position: relative;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
    gap: 2em;
    border-bottom: 1px solid var(--color-two);
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .main-cardset {
        grid-template-columns: 1fr;
        padding: 0px 20px 60px 20px;
        margin: 20px auto;
    }
}