.hero-grid {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 1em;
    max-width: 1200px;
    grid-template-areas:
        "box-1 box-1 box-2 box-2"
        "box-1 box-1 box-4 box-3";
    margin: 50px auto 100px auto;
}

.hero-text {
    border-radius: 8px;
    background-color: #FBBF24;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.box-1 {
    background-image: url('/public/cat.jpg');
    background-size: cover;
    background-position: center;
}

.box-4 {
    background: #B45309;
    font-size: 40px;
    color: #EFF6FF;
    text-align: center;
    align-content: center;
}

.box-2 {
    background: #FBBF24;
    font-size: 25px;
    padding: 1em;
    color: #EFF6FF;
    text-align: center;

}

.box-3 {
    background-image: url('/public/hero.jpg');
    background-size: cover;
    background-position: center;
}

.book-now {
    padding: 0.7em 1.5em;
    background-image: linear-gradient(to top, #2f73f2 50%, #1c54c8 50%);
    background-size: 100% 200%;
    background-position: top;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-position 0.5s ease-in-out;
}

.book-now:hover {
    cursor: pointer;
    background-position: bottom;
}