.hero-grid {
    position: relative;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 300px;
    gap: 1em;
    max-width: 1200px;
    grid-template-areas:
        "box-1 box-1 box-2 box-2"
        "box-1 box-1 box-4 box-3";
    margin: 50px auto 100px auto;
}

.hero-text {
    border-radius: 8px;
    background-color: var(--color-popup);
    box-shadow: var(--color-four) 0px 3px 3px 0px;
}

.box-1 {
    background-image: url('/public/cat.jpg');
    background-size: cover;
    background-position: center;
}

.box-4 {
    background: var(--color-popup-hover);
    font-size: 3.4rem;
    color: #EFF6FF;
    text-align: center;
    align-content: center;
}

.box-2 {
    background: var(--color-popup);
    font-size: 25px;
    padding: 1em;
    color: var(--color-one);
    text-align: center;

}

.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.8em;
}

.hero-desc {
    font-size: 1.5rem;
    color: var(--color-one);
    font-weight: normal;
}

.box-3 {
    background-image: url('/public/hero.jpg');
    background-size: cover;
    background-position: center;
}

.book-now {
    padding: 0.7em 1.5em;
    background-image: linear-gradient(to top, #2f73f2 50%, #1c54c8 50%);
    background-size: 100% 200%;
    background-position: top;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-position 0.5s ease-in-out;
}

.book-now:hover {
    cursor: pointer;
    background-position: bottom;
}

@media (max-width: 768px) {
    .hero-grid {
        grid-template-areas:
            "box-1"
            "box-2"
            "box-3"
            "box-4";
        grid-auto-rows: 300px;
    }

    .box1,
    .box2,
    .box3,
    .box4 {
        font-size: 1.5rem;
    }

    .hero-text {
        margin: 0 10px;
    }
}