.hero-image {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: fill;
    z-index: 1;
}

.main-hero {
    position: relative;
    /* background-color: #f5f3ef; */
    max-width: 1200px;
    margin: 0 auto;
    top: -60px;
}

.main-hero-light {
    background-color: #f5f3ef;
}

.main-hero-dark {
    background-color: var(--color-two);
}

.main-hero-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.main-hero-text {
    position: relative;
    z-index: 2;
    width: 130%;
    font-weight: 700;
    height: auto;
    margin: auto 0 0 0;
    color: var(--color-two);
    font-size: 5rem;
}

.main-hero-text-dark {
    color: var(--color-one);
}

@media (max-width: 768px) {
    .main-hero {
        /* top: -50px; */
    }

    .main-hero-grid {
        grid-template-columns: 1fr;
    }

    .main-hero-text {
        width: 90%;
        font-size: 4.5rem;
        margin: 20% auto 0 auto;
    }
}