.hero-image {
    width: 100%;
    height: 80vh;
    position: relative;
    object-fit: cover;
}

.main-hero {
    position: relative;
    width: 100%;
    top: -100px;
}

@media (max-width: 768px) {
    .main-hero {
        top: -50px;
    }
}