.main {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: none;
}

.menu-icon {
    position: sticky;
    z-index: 10000;
    display: none;
    /* top: 10px; */
    left: calc(100% - 45px);
    width: 35px;
    height: 35px;
    flex-direction: column;
}

.first-stick {
    margin-top: 0;
}

.first-stick,
.second-stick,
.third-stick {
    background-color: white;
    min-width: 30px;
    min-height: 3px;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.4s;
}

.ghost {
    position: absolute;
    top: 0;
}

.main.active {
    background-color: var(--color-four);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navigation-class {
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.item-buttons {
    font-size: var(--font-two);
    margin: auto 0;
    padding: 0.7em 1.5em;
    min-width: 150px;
    color: var(--color-one);
    background: none;
    line-height: 1.5em;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.item-buttons.active {
    color: var(--color-two);
}

.item-buttons:hover {
    cursor: pointer;
    background-color: hsla(18, 26%, 37%, 0.14);
    color: var(--color-one);
}

.item-buttons:focus {
    font-weight: bold;
    background-color: hsla(18, 26%, 37%, 0.14);
    color: var(--color-one);
}

.upgrade-button {
    font-weight: 500;
    margin: auto 0;
    font-size: var(--font-two);
    padding: 0.7em 1.5em;
    background-image: linear-gradient(to top, var(--color-one) 50%, var(--color-two) 50%);
    background-size: 100% 200%;
    background-position: top;
    color: var(--color-three);
    border: none;
    border-radius: 8px;
    transition: background-position 0.5s ease-in-out;
}

.upgrade-button:hover {
    cursor: pointer;
    color: var(--color-four);
    background-position: bottom;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logo {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 10px 0 10px 10px;
}

@media (max-width: 768px) {
    .main {
        height: auto;
    }

    .menu-icon {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navigation-class {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
    }

    .upgrade-button {
        display: none;
    }

    .nav-buttons {
        display: none;
    }

    .nav-buttons.open {
        display: grid;
        grid-auto-rows: auto;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-four);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 998;
    }
}