.main-container {
    max-width: 200%;
    overflow: hidden;
}

.running-line-title {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5em;
    margin-bottom: 4rem;
    color: var(--color-one);
    font-weight: 500;
}

.logos {
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.slide-animation {
    animation: slidekaco 5s linear infinite;
}

@keyframes slidekaco {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.column {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.clients {
    display: flex;
    flex-direction: column;
}

.white-background {
    width: 1200px;
    margin: 3rem auto;
    position: relative;
    height: auto;
}

@media (max-width: 768px) {
    .white-background {
        width: 100%;
    }
}