.services {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service-title {
    text-align: center;
    color: var(--color-one);
    font-size: 2rem;
    font-weight: 500;
    padding: 30px 0;
    scroll-margin-top: 100px;
}

.service-card {
    display: grid;
    max-width: 400px;
    background-color: var(--color-three);
    padding: 1rem;
    border-radius: 10px;
    grid-auto-columns: auto 1fr;
    grid-auto-rows: auto 1fr;
    grid-template-areas:
        "image title"
        "image description";
}

.service-card img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.service-card img:hover {
    cursor: pointer;
    animation: skew 1s linear;
}

.service-card h3 {
    line-height: 1.8em;
    color: var(--color-one);
    margin: 0;
    padding: 0 10px;
    align-self: center;
}

.service-card p {
    height: 100%;
    color: var(--color-two);
    margin: 0;
    padding: 0 10px;
    align-self: center;
}

@keyframes skew {
    0% {
        transform: skewY(0deg) scale(1);
    }

    25% {
        transform: skewY(3deg) scale(1.2);
    }

    50% {
        transform: skewY(0deg) scale(1);
    }

    75% {
        transform: skewY(-3deg) scale(1.2);
    }

    100% {
        transform: skewY(0deg) scale(1);
    }
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}