:root {
  font-size: 14px;
  --background-color: var(--color-four);

  --color-one: hsl(30, 5%, 95%);
  --color-two: hsl(30, 5%, 70%);
  --color-three: hsl(30, 5%, 30%);
  --color-four: hsl(30, 5%, 10%);

  --color-popup: #ff8c00;

  --color-popup-hover: hsl(45, 100%, 50%);
}

/* @media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.imageUrl {
  width: 200px;
  height: auto;
  border-radius: 50%;

}