:root {
  font-size: 14px;
  --background-color: var(--color-one);

  --color-four: #B4B56D;
  --color-three: #8DB2A2;

  --color-one: #f5f3ef;
  --color-popup: #E4704B;

  --color-two: #00654b;
  --text-color-two: hsl(107, 36%, 30%);
  --text-color-three: hsl(107, 36%, 60%);



  --color-popup-hover: hsl(15, 75%, 80%);

}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.imageUrl {
  width: 200px;
  height: auto;
  border-radius: 50%;

}